* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #23242b;
	color: #fff;
	position: fixed; 
	width: 100%; 
	z-index: 1000;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
	border-style: solid;
	border-color: whitesmoke;
}
.user-p h4 {
	display: block;
    color:rgb(13, 3, 15);
    /*text-align: center;*/
    font-family: Verdana;
    font-size: 20px;
    font-variant: small-caps;
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: rgba(224, 235, 234, 0.932);
    text-shadow: 1px 10px 10px #e60deebb;

}
.side-bar {
	position: fixed;
	width: 220px;
	background: #262931;
	min-height:100vh;
	transition: 500ms width;
	padding-top: 81px;
}
.body {
	display: flex;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
.closing {
	width: 100%;
	background: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-left: 220px;
	padding-top: 100px;
}
.closing h4 {
	color:rgb(150, 173, 19);
	font-size:24px;
	font-variant: small-caps;
	-webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: rgba(241, 31, 3, 0.932);
}
p:hover {
	color: Dodgerblue;
}
.active{
	font-style: italic;
}
.side-bar .active{
	color: chartreuse;
}


#textbox1, .closing1 {
    width: 600px;
    height: 45px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 5px;
}
.closing1{
	background: transparent;
}
#textbox2, .closing2 {
    width: 450px;
    height: 45px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}
#textbox3, .closing3 {
    width: 500px;
    height: 45px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}
#textbox4, .closing4 {
    width: 500px;
    height: 45px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}
#textbox5, .closing5 {
    width: 650px;
    height: 45px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;	
}
#textbox6, .closing6 {
    width: 950px;
    height: 135px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}
#textbox7, .closing7 {
    width: 950px;
    height: 90px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}
#textbox8, .closing8 {
    width: 900px;
    height: 70px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}

#textbox9, .closing9 {
    width: 950px;
    height: 135px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}
#textbox10, .closing10 {
    width: 950px;
    height: 135px;
    padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin-top: -10px ;
    margin-bottom: 5px;
	margin-left: 6px;
    border-radius: 0px 10px 0px 10px;
}

.copy-btn {
    display: block;
    width: 120 px;
	height: 25px;
	margin-top: -5px;
	margin-bottom: 20px;
	margin-left: 18px;
	padding-left: 5px;
	padding-right: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
	font-size: 12px;
}	
.copy-btn:hover {
    background-color: #1bdb7b;
}



